/* variables */

:root{
    --color-background: #232323;
    --color-font:white;
    --color-shadow:rgb(74, 70, 70);
}

/* resets */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-font)
}

img{
    max-width: 100%
}

ul li{
    text-decoration: none;
    list-style: none;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-weight:bold
}

nav ul li:hover{
    box-shadow: 5px 5px 5px var(--color-shadow);
}

body{
    background-color: var(--color-background);
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.main-page{
    justify-content: space-between;
}

.about-list{
    display: flex;
    flex-direction: column;
    background-color: var(--color-font);
}

.about-line{
    display: flex;
}

.about-line p{
    color: black;
}

.icon{
    max-width: 2rem;
}

/* styles */


#myname{
    font-size: 4rem;
}

#myjob{
    font-size: 3rem;
}

/* layout */
nav{
    padding-top: 2rem;
}

ul, .name-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.content{
    max-width: 70%;
    margin: auto;
}

.about{
    margin: auto;
}

.section-title{
    margin: 5rem auto 2rem auto;
}

.about{
    box-shadow: 5px 5px 5px var(--color-shadow);
    margin: 0 auto 10rem auto;
    font-size: 2rem;
}


/* button */

.button-area{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.button-wrapper{
    margin: 0 auto 5rem auto;
}

.cta{
    border: solid 3px white;
    height: 6rem;
    width: 6rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    font-size: 1.5em;
}

.cta:hover{
    color: var(--color-background);
    background-color: var(--color-font);
}