/* variables */

:root{
    --color-background: #232323;
    --color-font:white;
    --color-shadow:rgb(74, 70, 70);
    --color-lighter: #7a7676d8;
    --font-family: "Inter", sans-serif;

}

/* resets */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-font);
    font-family: var(--font-family);
}

img{
    max-width: 100%
}

/* styles */

ul li{
    text-decoration: none;
    list-style: none;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-weight:bold;
    transition: 0.5s;
}

nav ul li:hover{
    box-shadow: 5px 5px 5px var(--color-shadow);
    font-size: 1.2em;
}

body{
    background-color: var(--color-background);
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;

    min-height: 100vh;
}

.main-page{
    justify-content: space-between;
}

.about-list{
    display: flex;
    flex-direction: column;
    /* background-color: var(--color-font); */
    box-shadow: 16px 19px 41px 2px rgba(112,111,112,0.33);
    border-radius: 10px;
    margin-top: 3rem;
}

.about-line{
    display: flex;
}

/* .about-line p{
    color: black;
} */

.icon{
    max-width: 2rem;
}

.about-p{
    margin-top: 1rem;
}

.link{
    color: red;
}

#myname{
    font-size: 4rem;
}

#myjob{
    font-size: 3rem;
}

.description p{
    font-size: 1.5rem;
}

nav{
    padding-top: 2rem;
}

ul, .name-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.about{
    margin: auto;
}

.section-title{
    margin: 5rem auto 2rem auto;
}

.about{
    box-shadow: 5px 5px 5px var(--color-shadow);
    margin: 0 auto 10rem auto;
    font-size: 2rem;
}

.grid{
    margin-top: 1rem;
    /* box-shadow: 5px 5px 5px white; */
    /* background-color: var(--color-lighter); */
    /* box-shadow: 0px 0px 35px 36px rgba(112,111,112,0.68); */
    padding: 1rem;
    border-radius: 10px;    
}




/* button */

.button-area{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.button-wrapper{
    margin: 0 auto 5rem auto;
}

.cta{
    border: solid 3px white;
    height: 6rem;
    width: 6rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    font-size: 1.5em;
    transition: 0.5s;
}

.cta:hover{
    color: var(--color-background);
    background-color: var(--color-font);
    height: 7rem;
    width: 7rem;
}

@media screen and (min-width: 1024px){

    .content{
        max-width: 70%;
    }
    .button-wrapper{
        margin-left: 0;
    }

    .cta{
        height: 6rem;
        width: 12rem;
        border-radius: 20%;
    }

    .cta:hover{
        color: var(--color-background);
        background-color: var(--color-font);
        height: 7rem;
        width: 14rem;
        font-size: 2rem;
    }

    .project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3rem auto;
        
        border-radius: 20px;
        padding: 10px;
    }

    .img-wrapper{
        max-width: 90%;
        margin: auto;
        box-shadow: 16px 19px 41px 2px rgba(112,111,112,0.33);
        transition: 0.5s;
    }

    .img-wrapper:hover{
        max-width: 100%;
        box-shadow: 16px 19px 41px 13px rgba(112,111,112,0.5);
    }
}